/venv/
.idea/
**/__pycache__/**
**/core
*.pyo
*.bak
/KissXPLog/data/*
/build/*
/dist/*
/KissXPLog/KissXPLog.log

#Personal Stuff
/KissXPLog/data/
/KissXPLog/build_stuff/*/
**/KissXPLog.log**

#Test
tests/tmp/**
